*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#p1{
    padding-top: 300px;
}
#btn1{
    background-color: #C5A880;
    margin-left: 630px;
    margin-top: 20px;
    transition: .5s;
}
#btn1:hover{
    margin-left: 640px;
}
#btn2{
    margin-top: 20px;
    color: white;
    transition: .5s;
    margin-left: 20px;
}
#btn2:hover{
    background-color: white;
    color: black;
    margin-left: 30px;
}
#back1{
    background-color: #222222;
}
#back2{
    background-color: #C5A880;
}
#h2{
    padding-top: 45px;
}
#main{
    width: 100%;
    position: absolute;
    top: 830px;
}
#img1{
    height: 50px;
}
#img2{
    height: 100%;
    width: 100%;
}
#back3{
    transition: .5s;
    background-color: rgb(243, 243, 243);
}
#back3:hover{
    background-color: #222222;
    color: white;
}
#h3{
    color: #C5A880;
}
#btn3{
    background-color: #C5A880;
    color: white;
}

#img3{
    height: 100px;
}
#box1{
    transition: .5s;
}
#box1:hover{
    background-color: #C5A880;
}
#btn4{
    background-color: #C5A880;
    color: white;
 position: absolute;
 top: 120px;
 left: 1200px;
}
#h3{
    color: #C5A880;
    padding-top: 50px;
    padding-left: 400px;
}
#p3{
    color: white;

    padding-left: 400px;
}
#h4{
    color: #C5A880;
}
#btn5{
    background-color: #C5A880;
    color: white;
}
#back5{
    transition: .5s;
}
#back5:hover{
    background-color: #222222;
}
#h5{
    color: black;
}
#back5:hover  #h5{
    color: white;
}
#h6{
    color: #C5A880;
}
#icon1{
    color: #C5A880;
}
#img5{
    height: 100px;
}
#h7{
    color: #C5A880;
}
#back7{
    background-color: #222222;
}
#h8{
    color: white;
}
#h9{
    color: black;
    transition: .5s;
}
#h9:hover{
    color: #C5A880;
}
#back8{
    position: relative;
    transition: 1s;
}
.insta1{
    position: absolute;
    top: 90px;
    left: 140px;
    display: none;
    transition: 1s;
}
#icon2{
    color: #000000;
    font-size: 30px;
}
#back8:hover .insta1{
     display: block;
     
}
#img8{
    height: 200px;
    width: 400px;
}
#footer{
    background-color:#1A1A1A;
}